<div class="container" id="Location">

  {% if LANGUAGE_CODE == 'en' %}

    <h1 class="mt-5 location"> Location</h1>
    <hr class="locationhr" >
<div class="d-lg-flex justify-content-lg-between">

   <div>
    <ul class="list-unstyled">
      <li class="mb-2">
        <p class="footertext" ><i class="bi bi-geo-alt-fill me-3"></i>Al-Sakhaa Complex no.21 - Ground Floor<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Abu Feras Al Hamadani St.,- Jabal Amman <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amman, Jordan          
         </p>
      </li>

      <li>
        <p class="footertext" > <i class="bi bi-telephone-fill me-3"></i>
        <a class="text-decoration-none footertext" href="tel:064008829" target="_blank">  06 400 88 29    </a> /   
        <a class="text-decoration-none footertext" href="tel:0790024535" target="_blank">   07900 24 535 </a>  </p> </li>
      <li>


        <li>
          <p class="footertext" ><i class="bi bi-whatsapp me-3"></i> <a class="text-decoration-none footertext" href="https://wa.me/0790024535" target="_blank">07900 24 535 </a> </p>
        </li>


      <li class="mb-2">
        <p class="footertext" ><i class="bi bi-clock-fill me-3"></i>Saturday - Thursday: 08:00 am - 07:00 pm     
         </p>
      </li>
                  
    </ul>        
     </div>

   <div class="map">   
    <iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3385.327845138334!2d35.90052413040337!3d31.952001472870382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151ca15776d1e0ff%3A0xda9fba92ae3cf289!2zR0MgTGFiIEdlbm9taWMgQ29yZSBMYWIgLSDZhdiu2KrYqNix2KfYqiDYrNmKINiz2Yog2KfZhNi32KjZitip!5e0!3m2!1sen!2sjo!4v1661108238375!5m2!1sen!2sjo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  </div>
{%else%}

<h1 class="mt-5 location d-flex justify-content-end"> الموقع</h1>
<hr class="locationhr" >
<div class="d-lg-flex justify-content-lg-between">

  <div class="map">   
    <iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3385.327845138334!2d35.90052413040337!3d31.952001472870382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151ca15776d1e0ff%3A0xda9fba92ae3cf289!2zR0MgTGFiIEdlbm9taWMgQ29yZSBMYWIgLSDZhdiu2KrYqNix2KfYqiDYrNmKINiz2Yog2KfZhNi32KjZitip!5e0!3m2!1sen!2sjo!4v1661108238375!5m2!1sen!2sjo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
<div>
<ul class="list-unstyled">
  <li class="mb-2">
    <p class="footertext" ><i class="bi bi-geo-alt-fill me-3"></i>مجمع السخاء الطبي - الطابق الأرضي
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    جبل عمان - شارع ابو فراس الحمداني 
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;عمان, الأردن          
     </p>
  </li>

  <li>
    <p class="footertext" > <i class="bi bi-telephone-fill me-3"></i>
    <a class="text-decoration-none footertext" href="tel:064008829" target="_blank">  06 400 88 29    </a> /   
    <a class="text-decoration-none footertext" href="tel:0790024535" target="_blank">   07900 24 535 </a>  </p> </li>
  <li>


    <li>
      <p class="footertext" ><i class="bi bi-whatsapp me-3"></i> <a class="text-decoration-none footertext" href="https://wa.me/0790024535" target="_blank">07900 24 535 </a> </p>
    </li>


  <li class="mb-2">
    <p class="footertext" ><i class="bi bi-clock-fill me-3"></i>من السبت - إلى الخميس  
      <br>
        من الساعة ال ٧:٠٠ ص حتى ال ٨:٠٠ م
     </p>
  </li>
              
</ul>        
 </div>


</div>
{%endif%}
  </div>
