
  .vertical-menu {
    position: relative;
    left: -12px;
    width: 50em;
    height:fit-content;
  }
  
  .vertical-menu a {
    background-color: #DDDBDE;
    color: #916F99;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #3F6DA2;
    color: white;
  }